.cruises {
  padding-top: 85px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.cruises h2 {
  margin-bottom: 49px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.cruises__list {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}

.cruises__card {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  padding: 28px 25px 8px;
  height: 386px;
  position: relative;
  z-index: 0;
  overflow-y: scroll;

  @include vp-1023 {
    padding: 27px 35px 12px 35px;
  }

  @include vp-767 {
    padding: 28px 25px 3px;
  }
}

.cruises__card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}

.cruises__card dd {
  margin: 0;
}

.cruises__card h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-left: 0;
  }
}

.cruises__card dl {
  font-size: 14px;
  line-height: 19.6px;
  margin-bottom: 10px;
  margin-top: 0;
}

.cruises__card dt {
  font-weight: 500;
  margin-bottom: 1px;
}

.cruises__card dd {
  color: $color-qaurtz;
  margin-bottom: 12px;
}

.cruises__hidden-content {
  display: none;
}

.cruises__card img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cruises__card:hover .cruises__hidden-content,
.cruises__card:focus-within .cruises__hidden-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 308px;
  padding-bottom: 27px;

  @include vp-1023 {
    padding-bottom: 23px;
    min-height: 305px;
  }

  @include vp-767 {
    padding-bottom: 32px;
    min-height: 313px;
  }
}

.cruises__card:hover h3,
.cruises__card:focus-within h3 {
  margin-left: 0;
}

.cruises__card:hover img,
.cruises__card:focus-within img {
  width: 0;
}
