.custom-toggle {
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;
  display: block;
  margin-bottom: 32px;
  margin-top: 3px;

  @include vp-767 {
    margin-bottom: 27px;
    margin-top: -3px;
  }

  label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    display: inline-block;

    @include vp-767 {
      padding-left: 28px;
      width: 80%;
    }
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);

    &:hover + .custom-toggle__icon,
    &:hover + .custom-toggle__icon::before,
    &:hover ~ .custom-toggle__label {
      opacity: 0.8;
    }

    &:active + .custom-toggle__icon,
    &:active + .custom-toggle__icon::before,
    &:active ~ .custom-toggle__label {
      opacity: 0.6;
    }

    &:focus-visible + .custom-toggle__icon {
      outline: 2px solid $color-alice-blue;
    }
  }

  span {
    margin-bottom: 0;
    margin-left: 0;
    font-size: 10px;
    line-height: 13px;
  }

  .custom-toggle__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $color-alice-blue;
    transform: translateY(-50%);

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }

  input:checked + .custom-toggle__icon::before {
    content: url("../img/svg/checked.svg");
    position: absolute;
    width: 10px;
    height: 6px;
    left: 3px;
    top: 3px;
  }

  .input-message {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    left: 0;
    bottom: -25px;
  }

  .input-message.is-invalid {
    color: #ff0000;
  }
}
