.custom-input {
  position: relative;
  display: flex;

  input {
    width: 100%;
    flex-grow: 1;
    background-color: $color-alice-blue;
    border: 2px solid transparent;
    outline: none;
    font-family: inherit;
    color: $color-tangaroa;
    padding: 10px 14px 10.5px;
    margin-bottom: 20px;
  }

  input::placeholder {
    color: rgba($color-tangaroa, 0.7);
    font-size: 14px;
    line-height: 21px;
    font-family: inherit;
  }

  input:hover,
  input:focus {
    background-color: rgba($color-alice-blue, 0.8);
  }

  .input-message {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 0;
    bottom: 2px;
  }

  .input-message.is-invalid {
    color: $color-red;
  }
}

.custom-input.is-invalid {
  input {
    border: 2px solid $color-red;

    &:focus,
    &:hover {
      border: 2px solid rgba($color-red, 0.5);
    }
  }
}
