.footer {
  background-color: $color-tangaroa;
  padding: 50px 0;

  @include vp-1023 {
    padding: 43px 0 45px;
  }

  @include vp-767 {
    padding: 40px 0 34px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: start;
  }
}

.footer__social {
  max-width: 22.1%;
  margin-left: auto;

  @include vp-767 {
    margin-left: 0;
    max-width: 100%;
  }
}

.footer__logo {
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__nav {
  max-width: 69%;

  @include vp-767 {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.footer__nav .nav__link {
  @include vp-1023 {
    font-size: 12px;
  }

  @include vp-767 {
    padding: 5px 0;
  }
}

.footer__nav .nav__item:not(:last-of-type) {
  @include vp-767 {
    margin-bottom: 9px;
  }
}

.footer__nav .nav__list {
  @include vp-1023 {
    grid-template-columns:
      minmax(60px, 97px) minmax(60px, 97px) minmax(60px, 128px)
      minmax(60px, 97px);
  }
}
