.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 35px 0;

  @include vp-1023 {
    padding: 28px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}

.header__nav {
  @include vp-767 {
    display: none;

    & .nav__item {
      margin-bottom: 10px;
    }

    & .nav__link {
      color: $color-tangaroa;
      padding: 10px 0 8px 10px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
  }
}

.header__mobile-wrapper {
  @include vp-767 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.header__burger-toggle {
  display: none;

  @include vp-767 {
    display: block;
    cursor: pointer;
    position: relative;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 22px;
  }
}

.header__burger-line {
  width: 24px;
  height: 2px;
  background-color: $color-alice-blue;
  position: absolute;
  right: 0;

  &--first {
    top: 4px;
  }

  &--second {
    top: 10px;
  }

  &--third {
    bottom: 4px;
  }
}

.header__burger-toggle:focus .header__burger-line,
.header__burger-toggle:hover .header__burger-line {
  opacity: 0.8;
}

.header__burger-toggle:active .header__burger-line {
  opacity: 0.6;
}

.header--menu-opened {
  background-image: linear-gradient(
    to right,
    rgba(0, 43, 102, 0.5) 11.25%,
    rgba(249, 251, 253, 1) 11.25%
  );
  min-height: 100vh;

  & .header__wrapper {
    margin-left: 11.25%;
    width: 88.75%;
  }

  & .header__mobile-wrapper {
    margin-bottom: 33px;
  }

  & .header__nav {
    display: block;
    align-self: start;
  }

  & .logo__svg {
    color: $color-tangaroa;
  }

  & .header__burger-line {
    background-color: $color-tangaroa;
    width: 18.4px;
  }

  & .header__burger-line--second {
    width: 0;
  }

  & .header__burger-line--first {
    transform: rotate(-45deg) translateY(7px);
  }

  & .header__burger-line--third {
    transform: rotate(45deg) translateY(-7px);
  }
}
