.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.social__item {
  margin-left: 27px;
  margin-top: 9px;

  @include vp-1023 {
    margin-left: 22.4px;
    margin-top: 8px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 22px;
  }
}

.social__link {
  display: inline-block;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__svg {
  color: $color-alice-blue;

  @include vp-1023 {
    width: 16px;
    height: 16px;

    &--ok {
      width: 9.6px;
    }
  }
}
